.search-result-container {
  margin-top: 20px;
  max-width: 1300px;
  background-color: #fff;
}
.search-result-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 14px;
  padding: 26px;
}
.search-result-empty {
  color: #aaa;
  text-align: center;
  margin: 48px 0;
}
