.user-profile-form .ant-form-item {
  align-items: center;
}
.user-profile-form .ant-form-item-label {
  text-align: left;
}
.user-profile-form .ant-form-item-control {
  display: flex;
  justify-content: flex-end;
}
.user-profile-form .ant-input,
.user-profile-form .ant-select,
.user-profile-form .ant-input-textarea {
  width: 100%;
}
